.taskMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 165px;
  width: 100%;
  padding: 15px;
  border: 1px solid #C4C4C4;
  background-color: var(--background-task);
}

.taskMenu::after {
  content: ''; 
  position: absolute;
  top: -5px;
  right: 77px;
  width: 11px;
  height: 11px;
  background: var(--background-task-arrow);
  border-right:1px solid var(--silver);
  border-bottom:1px solid var(--silver);
  transform: rotate(-135deg);
}

.menuButton {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: var(--pearl-light-grey);
}

.taskMenuDelete {
  margin-bottom: 0;
}

.menuButton svg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}